.autor {
    text-align: center;
    padding: 2rem;
}

.autor-content {
    margin-top: 2rem;
}

.autor-content p {
    font-size: .8rem;
}

.autor-account {
    text-align: left;
    font-size: 1.2rem;
    margin: 0 .5rem;
}

.autor-account span {
    font-size: .8rem;
}

.autor-account a:hover {
    color: #f56a6a;
}
