.sidetag {
    border-radius: .3rem;
    background-color: #fff;
    margin-top: 1.7rem;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    padding: .5rem;
    overflow: hidden;
}

.sidetag-tag {
    display: inline-flex;
    margin-bottom: .4rem;
    cursor: pointer;
}