

.subject {
    background-color: #fff;
    margin-top: 1.7rem;
    height: 24rem;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    padding: 1rem;
    overflow: hidden;
}

.subject-tabs-tabpane {
    display: flex;
    justify-content: flex-start;
}

.subject-tabs-card {
    margin: 0 1.5rem;
}

.subject-tabs-card-meta {
    text-align: center;
}